@use "../../../../../app/utils/variables" as v;

.experience-ana {
  background-color: var(--cream);

  &-brands--images {
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 2rem 0;

    img {
      max-height: 6vh;
    }
  }

  &--image {
    background-color: var(--green);
    min-height: 50rem;
  }

  &--content {
    display: grid;
    column-gap: 2rem;
    grid-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    align-content: flex-end;
    justify-content: flex-end;

    h4 {
      max-width: 80%;
      font-weight: 500;
      line-height: 1.2;
      align-self: flex-end;
    }
  }
}
