.navbar-ana {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;

  &--dot {
    height: 4rem;
    width: 4rem;
    margin-right: 2.5rem;
    background-color: var(--black);
    border-radius:50%;
  }

  &--links{
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    li {
      margin-right: 2rem;

      background-image: linear-gradient(
          to right,
          var(--cream),
          var(--cream) 50%,
          var(--black) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-position: 0;
      }
    }

  }

  &--stripes {
    min-width: 4rem;
    display: flex;
    flex-direction: column;
    
    &:hover {
      cursor: pointer;
    }
  }

  &--stripes-light {
    width: 100%;
    background-color: var(--black);
    margin-bottom: 1rem;
    height: 0.5rem;
  }
}
