@use "src/app/utils/variables" as v;

.navbar-ana {
  position: sticky;
  top: 0;
  z-index: 2;
  transition: var(--transition);
  background-color: var(--purple);
  height: var(--height-nav-bar);
  display: flex;


  &--controller {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &--dot {
    height: 4rem;
    width: 4rem;
    margin-right: 2.5rem;
    background-color: var(--black);
    border-radius:50%;

    &:hover {
      cursor: pointer;
    }
  }

  &--content {
    display: flex;
  }

  &--links{
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    li {
      margin-right: 2rem;
      background-image: linear-gradient(
          to right,
          var(--cream),
          var(--cream) 50%,
          var(--black) 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-position: 0;
      }
    }

  }

  &--stripes {
    min-width: 4rem;
    display: flex;
    flex-direction: column;

    &:hover {
      cursor: pointer;
    }
  }

  &--stripes-light {
    width: 100%;
    background-color: var(--black);
    margin-bottom: 1rem;
    height: 0.5rem;
    transition: var(--transition);
  }

  &--stripes-cross {
    transition: var(--transition);
    -webkit-transform: rotate(-45deg) translate(20%,-50%);
    transform: rotate(-45deg) translate(20%, -50%);

    &:first-of-type {
      -webkit-transform: rotate(45deg) translate(20%, 50%);
      transform: rotate(45deg) translate(20%,50%);
    }
  }



  @media only screen and (max-width:  v.$media-query-smaller) {
   &--content {
     height: 100vh;
   }

    &--links {
      ul {
        height: 80vh;
        display: block;
      }

      li {
        font-size: 9rem;
        text-transform: uppercase;
        letter-spacing: -0.05em;
        line-height: 0.8;
      }
    }
  }
}


.navbar-ana{
  &--small {
    transition: var(--transition);
    background-color: var(--cream);
    height: 100vh;

    .navbar-ana--content {
      padding-top: 10vh;
    }

    li {
      background-image: linear-gradient(
          to right,
          var(--purple),
          var(--purple) 50%,
          var(--black) 50%
      );
    }
  }
}

