<nav class="navbar-ana wrapper-small"
[class.navbar-ana--small]="isNavBarExpanded"
>
  <div class="navbar-ana--controller">
    <div class="navbar-ana--dot"
         (click)="isSmallDevice() ? expandNavBar() : ''"
    >
    </div>

    <div  *ngIf="isSmallDevice()" (click)="expandNavBar()">
      <div class="navbar-ana--stripes"
      >
        <div class="navbar-ana--stripes-light"
             [class.navbar-ana--stripes-cross]="isNavBarExpanded"></div>
        <div class="navbar-ana--stripes-light"
             [class.navbar-ana--stripes-cross]="isNavBarExpanded"></div>
      </div>
    </div>
  </div>

  <div class="navbar-ana--content" *ngIf="!isSmallDevice() || isNavBarExpanded">
    <div  class="navbar-ana--links">
      <ul>
        <li>Experience</li>
        <li>About me</li>
        <li>FAQ</li>
        <li>Contact me</li>
      </ul>
    </div>
  </div>
</nav>
