<ana-navbar
></ana-navbar>
<section class="main-ana wrapper">
  <div class="main-ana--content ">
    <div class="main-ana--name">
      <h1>{{'Ana' | uppercase}}</h1>
      <h1>{{'Flavia Foppa'  | uppercase}}</h1>
    </div>
    <div class="main-ana--images-row">
      <div class="main-ana--stripes">
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-larger"></div>
      </div>
      <div class="main-ana--image">
      </div>
      <div class="main-ana--list">
        <ul>
          <li>Angular</li>
          <li>React</li>
          <li>Vue</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="experience-ana wrapper">
  <div class="experience-ana-brands">
    <h3>Brands that I've worked with:</h3>
    <div class="experience-ana-brands--images">
      <img src="assets/images/bmw.svg">
      <img src="assets/images/Teleperformance_logo.svg">
      <img src="assets/images/critical.svg">
      <img src="assets/images/glintt.png">
    </div>
  </div>

  <div  class="experience-ana--description">
    <div class="experience-ana--content">
      <h3>Experience:</h3>
      <h2>Creating solutions and improves the quality
        of websites, applications
        and branding management on the Internet security.</h2>
    </div>


    <div class="experience-ana--experiences">
      <div class="experience-ana--experiences-brand">
        <h2>Critical Techworks - Software Developer</h2>
        <p>www.criticaltechworks.com</p>

        <p>fev 2021 - present</p>
        <p>Angular, Typescript, Nodejs and Java.</p>
      </div>

      <div class="experience-ana--experiences-brand">
        <h2>YourCode - Front End Developer</h2>
        <p>www.yourcode.pt</p>

        <p>jun 2020 - fev 2021</p>
        <p>VueJS, JavaScript, Vuex, Vuetify and APIS.</p>
      </div>

      <div class="experience-ana--experiences-brand">
        <h2>Civil engineer - Foppa Engenharia</h2>

        <p>set 2017 - dez 2019</p>
        <p>Ana Flavia managed several engineering projects,
          focusing on structural analysis.
          Structural projects are responsible for the design of slabs,
          beams, columns, foundations.</p>
      </div>
    </div>
  </div>
</section>

<section class="faq-ana">
  <ana-accordion
    question="Why did you feel the need of a change in your career choices?"
    text="I've always admired Civil Engineering, and it was this area that allowed me to develop my logical thinking, in major grades such as Calculus and its five-hour tests. Despite of that, I realised that the innovation on civil engineering is quite slow and new methods aren't always encouraged. My goal in life is finding a perfect sync between logic, visual arts and constant innovation, and that seemed to be lacking on traditional Civil Engineering. I appreciate all the knowledge that engineering has given me,
     but my future is in web development">
  </ana-accordion>
  <ana-accordion
    question="What makes you different?"
    text="Since I was a teenager,
     I found myself loving to work on
      visual projects and using tools like Adobe Photoshop and Adobe Illustrator. And I couldn't help but thinking I should head that way. Although, my flair with numbers and a family of civil engineers influenced me to opt in the same path. Today, I see that the visual area, that has always been my passion, can integrate on engineering logic and it gives
     me a keener perspective of everything.">
  </ana-accordion>
  <ana-accordion
    question="Hobbies?"
    text="I love painting (you're more than welcome to see a little more here).
    And I'm very into reading and understanding more about art history.
    Also, I am currently
    studying a third language which is Deutsch. (Bitte!)">
  </ana-accordion>
</section>

<!--<section class="about-me-ana wrapper">
  <div  class="about-me-ana&#45;&#45;image">
  </div>
  <div class="about-me-ana&#45;&#45;text">
    <h2>About me:</h2>
    <p>I‘m Ana Flavia Foppa Web developer
      looking for opportunities to transform digital experiences that simplify
      and enhance value for the world.</p>
  </div>
</section>-->

<ana-footer
></ana-footer>


