<ana-navbar></ana-navbar>
<section class="main-ana wrapper">
  <div class="main-ana--content">
    <div class="main-ana--name">
      <h1>{{'Ana' | uppercase}}</h1>
      <h1>{{'Flavia' | uppercase}}</h1>
      <h1>{{'Foppa' | uppercase}}</h1>
    </div>
    <div class="main-ana--images">
      <div class="main-ana--stripes">
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-light"></div>
        <div class="main-ana--stripes-larger"></div>
      </div>
      <div class="main-ana--image">
      </div>
      <div class="main-ana--list">
        <ul>
          <li>Angular</li>
          <li>React</li>
          <li>Vue</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
  </div>


</section>

<section class="experience-ana wrapper">
  <div>
    <h2>Brands that I've worked with:</h2>
    <div class="experience-ana--brands">
    </div>
  </div>

  <div  class="experience-ana--description">
    <h2>Experience:</h2>

    <div class="experience-ana--experiences">
      <div class="experience-ana--experiences-brand">
        <h3>Critical Techworks - Software Developer</h3>
        www.criticaltechworks.com/

        <p>fev 2021 - present</p>
        <p>Developed and maintained applications using Nodejs,
          Typescript and Java.</p>
      </div>

      <div class="experience-ana--experiences-brand">
        <h3>YourCode - Front End Developer</h3>
        www.yourcode.pt

        <p>jun 2020 - jan 2021</p>
        <p>Developed and maintained web applications using VueJS,
          JavaScript, Vuex, Vuetify and APIS.</p>
      </div>

      <div class="experience-ana--experiences-brand">
        <h3>Civil engineer - Foppa Engenharia</h3>

        <p>set 2017 - dez 2019</p>
        <p>Ana Flavia managed several engineering projects,
          focusing on structural analysis.
          Structural projects are responsible for the design of slabs,
          beams, columns, foundations.</p>
      </div>
    </div>
  </div>


</section>


